@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldCondIt.eot");
  src: local("Myriad Pro Bold Condensed Italic"), local("MyriadPro-BoldCondIt"), url("../fonts/MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCondIt.woff") format("woff"), url("../fonts/MyriadPro-BoldCondIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackIt.eot");
  src: local("Myriad Pro Black Italic"), local("MyriadPro-BlackIt"), url("../fonts/MyriadPro-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackIt.woff") format("woff"), url("../fonts/MyriadPro-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightIt.eot");
  src: local("Myriad Pro Light Italic"), local("MyriadPro-LightIt"), url("../fonts/MyriadPro-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightIt.woff") format("woff"), url("../fonts/MyriadPro-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackCond.eot");
  src: local("Myriad Pro Black Condensed"), local("MyriadPro-BlackCond"), url("../fonts/MyriadPro-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackCond.woff") format("woff"), url("../fonts/MyriadPro-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("../fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("MyriadPro-Bold"), url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldIt.eot");
  src: local("Myriad Pro Bold Italic"), local("MyriadPro-BoldIt"), url("../fonts/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldSemiCnIt.eot");
  src: local("Myriad Pro Bold SemiCondensed Italic"), local("MyriadPro-BoldSemiCnIt"), url("../fonts/MyriadPro-BoldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro-BoldSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-CondIt.eot");
  src: local("Myriad Pro Condensed Italic"), local("MyriadPro-CondIt"), url("../fonts/MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-CondIt.woff") format("woff"), url("../fonts/MyriadPro-CondIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightCond.eot");
  src: local("Myriad Pro Light Condensed"), local("MyriadPro-LightCond"), url("../fonts/MyriadPro-LightCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightCond.woff") format("woff"), url("../fonts/MyriadPro-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiCn.eot");
  src: local("Myriad Pro SemiCondensed"), local("MyriadPro-SemiCn"), url("../fonts/MyriadPro-SemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiCn.woff") format("woff"), url("../fonts/MyriadPro-SemiCn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiCnIt.eot");
  src: local("Myriad Pro SemiCondensed Italic"), local("MyriadPro-SemiCnIt"), url("../fonts/MyriadPro-SemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiCnIt.woff") format("woff"), url("../fonts/MyriadPro-SemiCnIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldCond.eot");
  src: local("Myriad Pro Bold Condensed"), local("MyriadPro-BoldCond"), url("../fonts/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/MyriadPro-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightSemiExtIt.eot");
  src: local("Myriad Pro Light SemiExtended Italic"), local("MyriadPro-LightSemiExtIt"), url("../fonts/MyriadPro-LightSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro-LightSemiExtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: local("Myriad Pro Semibold"), local("MyriadPro-Semibold"), url("../fonts/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Black.eot");
  src: local("Myriad Pro Black"), local("MyriadPro-Black"), url("../fonts/MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Black.woff") format("woff"), url("../fonts/MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightSemiCn.eot");
  src: local("Myriad Pro Light SemiCondensed"), local("MyriadPro-LightSemiCn"), url("../fonts/MyriadPro-LightSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightSemiCn.woff") format("woff"), url("../fonts/MyriadPro-LightSemiCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackCondIt.eot");
  src: local("Myriad Pro Black Condensed Italic"), local("MyriadPro-BlackCondIt"), url("../fonts/MyriadPro-BlackCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackCondIt.woff") format("woff"), url("../fonts/MyriadPro-BlackCondIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightCondIt.eot");
  src: local("Myriad Pro Light Condensed Italic"), local("MyriadPro-LightCondIt"), url("../fonts/MyriadPro-LightCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightCondIt.woff") format("woff"), url("../fonts/MyriadPro-LightCondIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightSemiExt.eot");
  src: local("Myriad Pro Light SemiExtended"), local("MyriadPro-LightSemiExt"), url("../fonts/MyriadPro-LightSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightSemiExt.woff") format("woff"), url("../fonts/MyriadPro-LightSemiExt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackSemiCnIt.eot");
  src: local("Myriad Pro Black SemiCondensed Italic"), local("MyriadPro-BlackSemiCnIt"), url("../fonts/MyriadPro-BlackSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro-BlackSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldCondIt.eot");
  src: local("Myriad Pro Semibold Condensed Italic"), local("MyriadPro-SemiboldCondIt"), url("../fonts/MyriadPro-SemiboldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldCondIt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldCondIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldCond.eot");
  src: local("Myriad Pro Semibold Condensed"), local("MyriadPro-SemiboldCond"), url("../fonts/MyriadPro-SemiboldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldCond.woff") format("woff"), url("../fonts/MyriadPro-SemiboldCond.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldSemiExtIt.eot");
  src: local("Myriad Pro Bold SemiExtended Italic"), local("MyriadPro-BoldSemiExtIt"), url("../fonts/MyriadPro-BoldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro-BoldSemiExtIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldSemiCn.eot");
  src: local("Myriad Pro Semibold SemiCondensed"), local("MyriadPro-SemiboldSemiCn"), url("../fonts/MyriadPro-SemiboldSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldSemiCn.woff") format("woff"), url("../fonts/MyriadPro-SemiboldSemiCn.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackSemiExtIt.eot");
  src: local("Myriad Pro Black SemiExtended Italic"), local("MyriadPro-BlackSemiExtIt"), url("../fonts/MyriadPro-BlackSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro-BlackSemiExtIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldSemiExtIt.eot");
  src: local("Myriad Pro Semibold SemiExtended Italic"), local("MyriadPro-SemiboldSemiExtIt"), url("../fonts/MyriadPro-SemiboldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldSemiExtIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-LightSemiCnIt.eot");
  src: local("Myriad Pro Light SemiCondensed Italic"), local("MyriadPro-LightSemiCnIt"), url("../fonts/MyriadPro-LightSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-LightSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro-LightSemiCnIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldSemiCn.eot");
  src: local("Myriad Pro Bold SemiCondensed"), local("MyriadPro-BoldSemiCn"), url("../fonts/MyriadPro-BoldSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldSemiCn.woff") format("woff"), url("../fonts/MyriadPro-BoldSemiCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldSemiCnIt.eot");
  src: local("Myriad Pro Semibold SemiCondensed Italic"), local("MyriadPro-SemiboldSemiCnIt"), url("../fonts/MyriadPro-SemiboldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldSemiCnIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldIt.eot");
  src: local("Myriad Pro Semibold Italic"), local("MyriadPro-SemiboldIt"), url("../fonts/MyriadPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldIt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-It.eot");
  src: local("Myriad Pro Italic"), local("MyriadPro-It"), url("../fonts/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BoldSemiExt.eot");
  src: local("Myriad Pro Bold SemiExtended"), local("MyriadPro-BoldSemiExt"), url("../fonts/MyriadPro-BoldSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldSemiExt.woff") format("woff"), url("../fonts/MyriadPro-BoldSemiExt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Light.eot");
  src: local("Myriad Pro Light"), local("MyriadPro-Light"), url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldSemiExt.eot");
  src: local("Myriad Pro Semibold SemiExtended"), local("MyriadPro-SemiboldSemiExt"), url("../fonts/MyriadPro-SemiboldSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldSemiExt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldSemiExt.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiExtIt.eot");
  src: local("Myriad Pro SemiExtended Italic"), local("MyriadPro-SemiExtIt"), url("../fonts/MyriadPro-SemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiExtIt.woff") format("woff"), url("../fonts/MyriadPro-SemiExtIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackSemiCn.eot");
  src: local("Myriad Pro Black SemiCondensed"), local("MyriadPro-BlackSemiCn"), url("../fonts/MyriadPro-BlackSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackSemiCn.woff") format("woff"), url("../fonts/MyriadPro-BlackSemiCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-BlackSemiExt.eot");
  src: local("Myriad Pro Black SemiExtended"), local("MyriadPro-BlackSemiExt"), url("../fonts/MyriadPro-BlackSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BlackSemiExt.woff") format("woff"), url("../fonts/MyriadPro-BlackSemiExt.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiExt.eot");
  src: local("Myriad Pro SemiExtended"), local("MyriadPro-SemiExt"), url("../fonts/MyriadPro-SemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiExt.woff") format("woff"), url("../fonts/MyriadPro-SemiExt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:hover {
  transition-duration: .5s; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  --color-primary: #333333;
  --color-subprimary: #12cdd4; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6; }

a {
  text-decoration: none; }

button,
input,
textarea,
select {
  font-family: 'Rubik', sans-serif;
  -webkit-appearance: none;
  outline: none; }

input[type=checkbox] {
  -webkit-appearance: checkbox; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

section {
  padding: 2rem 0; }

.container {
  box-sizing: border-box;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }
  @media screen and (max-width: 600px) and (min-width: 320px) {
    .container {
      padding: 0 15px; } }

img {
  max-width: 100%;
  height: auto; }

.title_section {
  color: var(--color-primary);
  font-size: 3.2rem;
  font-weight: 400;
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 4rem; }
  .title_section:after {
    content: "";
    width: 20.6rem;
    height: .2rem;
    background-color: var(--color-subprimary);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; }

header {
  font-family: "Myriad Pro";
  padding: 2rem 0; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media screen and (max-width: 1140px) {
    header .custom-logo-link {
      max-width: 18rem; } }
  header .phone {
    color: #263238;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2.3rem;
    margin-right: -23.5rem; }
    @media screen and (max-width: 1700px) {
      header .phone {
        margin-right: 0; } }
    @media screen and (max-width: 1040px) {
      header .phone {
        font-size: 1.6rem; } }
    header .phone:before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url("../img/icon-phone.png");
      position: absolute;
      left: 0; }
  header .nav_phone {
    display: flex; }
    header .nav_phone.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #ffffff;
      left: 0;
      top: 142px;
      z-index: 999;
      width: 100%;
      padding: 0 2rem 2rem; }
    @media screen and (max-width: 991px) {
      header .nav_phone {
        display: none; } }
  header nav {
    list-style-type: none;
    display: flex;
    margin-right: 7.5rem; }
    @media screen and (max-width: 1040px) {
      header nav {
        margin: 0 4rem 0 2rem; } }
    @media screen and (max-width: 991px) {
      header nav {
        flex-direction: column;
        margin: 0 0 2rem; } }
    header nav li:not(:last-of-type) {
      margin-right: 3rem; }
    header nav li a {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--color-primary); }
      @media screen and (max-width: 1040px) {
        header nav li a {
          font-size: 1.6rem; } }
      header nav li a:hover {
        color: var(--color-subprimary); }
    header nav li.current-menu-item a {
      color: var(--color-subprimary); }
  header .nav-icon {
    width: 35px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9;
    display: none; }
    @media screen and (max-width: 991px) {
      header .nav-icon {
        display: block; } }
    header .nav-icon.open span:nth-child(1) {
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    header .nav-icon.open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    header .nav-icon.open span:nth-child(3) {
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    header .nav-icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: var(--color-subprimary);
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      header .nav-icon span:nth-child(1) {
        top: 0; }
      header .nav-icon span:nth-child(2) {
        top: 10px; }
      header .nav-icon span:nth-child(3) {
        top: 20px; }

.banner {
  background-image: url("../img/bg-banner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 32rem 1.5rem 31rem; }
  @media screen and (max-width: 767px) {
    .banner {
      padding: 10rem 1.5rem; } }
  .banner h1 {
    color: #ffffff;
    font-size: 5.8rem;
    font-weight: 700;
    max-width: 107rem;
    margin: 0 auto;
    display: block; }
    @media screen and (max-width: 767px) {
      .banner h1 {
        font-size: 3.8rem; } }
    .banner h1 em {
      background-color: var(--color-subprimary);
      padding: 0 1rem; }
  .banner .social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2.5rem;
    top: 3.5rem;
    list-style-type: none;
    align-items: center; }
    .banner .social li {
      width: max-content; }

.line_description {
  background-color: #5a9aa0;
  padding: 4.5rem 1.5rem; }
  .line_description h2 {
    color: #ffffff;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center; }

.about_us {
  padding: 9.6rem 0 11.1rem; }
  @media screen and (max-width: 767px) {
    .about_us {
      padding: 3rem 0; } }
  .about_us .container {
    max-width: 78.6rem;
    width: 100%; }
  .about_us .wrp_text {
    color: #272727;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.4rem;
    text-align: justify; }

.blog_item {
  background-color: #f5f5f5;
  padding: 13rem 0 10rem; }
  @media screen and (max-width: 767px) {
    .blog_item {
      padding: 3rem 0; } }
  .blog_item .container {
    max-width: 117rem;
    width: 100%; }
  .blog_item .wrp_items {
    display: flex; }
    @media screen and (max-width: 991px) {
      .blog_item .wrp_items {
        flex-wrap: wrap;
        justify-content: center; } }
    @media screen and (max-width: 781px) {
      .blog_item .wrp_items {
        flex-direction: column;
        align-items: center; } }
  .blog_item .item {
    max-width: 36.1rem;
    width: 100%;
    background-color: #ffffff; }
    @media screen and (max-width: 991px) {
      .blog_item .item {
        margin-bottom: 2rem; } }
    .blog_item .item:not(:last-of-type) {
      margin-right: 4.2rem; }
      @media screen and (max-width: 991px) {
        .blog_item .item:not(:last-of-type) {
          margin-right: initial; } }
    @media screen and (max-width: 991px) {
      .blog_item .item:nth-child(even) {
        margin-left: 2rem; } }
    @media screen and (max-width: 781px) {
      .blog_item .item:nth-child(even) {
        margin-left: 0; } }
    .blog_item .item .item_text {
      padding: 3rem 2.5rem 5rem; }
      .blog_item .item .item_text h4 {
        color: var(--color-primary);
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3.6rem; }
      .blog_item .item .item_text time {
        color: #737373;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8rem; }
      .blog_item .item .item_text .item_description {
        color: #747474;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.4rem;
        padding-top: 2rem;
        border-top: .1rem solid #e9e7e7;
        margin-top: 2rem; }
  .blog_item .read_more {
    margin-top: 8rem;
    color: var(--color-primary);
    font-family: "Myriad Pro";
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 10.5rem;
    margin: 8rem auto 0;
    display: block; }
    .blog_item .read_more:hover {
      color: var(--color-subprimary); }

footer {
  background-color: #232323;
  border-top: 1.2rem solid #414141;
  padding: 4.4rem 0 2rem; }
  footer .container {
    max-width: 170rem;
    width: 100%; }
  footer .wrp_logo_sidebars {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 425px) {
      footer .wrp_logo_sidebars {
        flex-direction: column; } }
    footer .wrp_logo_sidebars .wrp_sidebars {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 767px) {
        footer .wrp_logo_sidebars .wrp_sidebars {
          flex-direction: column; } }
      footer .wrp_logo_sidebars .wrp_sidebars .item:not(:last-of-type) {
        margin-right: 3rem; }
        @media screen and (max-width: 767px) {
          footer .wrp_logo_sidebars .wrp_sidebars .item:not(:last-of-type) {
            margin-right: 0; } }
      @media screen and (max-width: 767px) {
        footer .wrp_logo_sidebars .wrp_sidebars .item {
          margin-bottom: 2rem; } }
      footer .wrp_logo_sidebars .wrp_sidebars ul {
        list-style-type: none; }
        footer .wrp_logo_sidebars .wrp_sidebars ul a {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 2.4rem;
          text-transform: uppercase; }
  footer .wrp_social_copyright {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid #12cdd4;
    padding-top: 2rem;
    margin-top: 3.8rem; }
    @media screen and (max-width: 425px) {
      footer .wrp_social_copyright {
        flex-direction: column; } }
    footer .wrp_social_copyright .social {
      list-style-type: none;
      display: flex; }
      footer .wrp_social_copyright .social li:not(:last-of-type) {
        margin-right: 2rem; }
    footer .wrp_social_copyright .copyright {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase; }
